<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verispend</title>
</head>
<body>
    <div>
        <h1>Welcome to Verispend</h1>
        <p>VeriSpend is the simple budgeting app that shows exactly where your money goes and helps you stick to a plan—without the spreadsheets.</p>
        <div>

            <a href="{% url 'login' %}" >Login</button>
            <a href="{% url 'signup' %}" >Sign Up</button>
        </div>
    </div>
</body>
</html>